.rev_slider {
    .custom {
        &.tp-bullets {
            .tp-bullet {
                 width: 10px;
                 height: 10px;
                 border-radius: 100%;
                 background-color: #6f6e63;
                 &:before {
                     position: absolute;
                     top: 0;
                     left: 0;
                     right: 0;
                     bottom: 0;
                     content: "";
                     border-radius: 50%;
                     border: 1px solid #6f6e63;
                 }
                 &.selected {
                     &:before {
                         top: -3px;
                         right: -3px;
                         bottom: -3px;
                         left: -3px;
                     }
                 }
            }
        }
    }
}
body {
    &.responsive {
        @media (min-width: 600px) and (max-width: 815px) {
            .custom.tp-bullets {
                right: 15px !important;
                transform: matrix(1, 0, 0, 1, -32, -10) !important;
            }
        }
    }
}