.rev_slider {
  .custom {
    &.tp-bullets {
      .tp-bullet {
        &.selected {
          background-color: $thim_body_primary_color;
          &:before {
            border-color: $thim_body_primary_color;
          }
        }
        &:hover {
          background-color: $thim_body_primary_color;
        }
      }
    }
  }
}