.bp-element-tabs.layout-step {
    margin-top:  54px;
}
div.bp-element-tabs.layout-default {
    .thim-wrap-tabs {
        .thim-nav-tabs {
            .item-nav {
                margin-bottom: 14px;
                letter-spacing: -1px;
            }
        }
    }
}