.list-collections {
  .collection-wrapper {
    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.444444;
      color: #1d1d2b;
      text-transform: uppercase;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}