/* form register */
.become-teacher-form {
    padding: 38px 25px 36px 25px;
    background: #fff;
    width: 530px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        display: block;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border: 6px solid rgba(18, 18, 18, 0.25);
        position: absolute;
        z-index: -1;
        top: -6px;
        left: -6px;
        border-radius: 5px;
    }
    .teacher-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: #202121;
        text-align: center;
        margin-bottom: 30px;
    }
    .learn-press-message {
        text-align: center;
    }
    &>.message-info {
        text-align: center;
    }
    form {
        .learn-press-message {
            display: none;
        }
        .become-teacher-fields {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .form-field {
                width: calc((100% - 15px) / 2);
                margin-bottom: 16px;
                .rwmb-field  label{
                    display: none;
                }
                input {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 1.625;
                    color: #888;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    height: 51px;
                    border: none;
                    padding: 0 15px;
                    font-family: inherit;
                    border: 1px solid #e5e5e5;
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }

                textarea {
                    height: 137px;;
                    border-color: #e5e5e5;
                    color: #888;
                }
                &:last-child {
                    width: 100%;
                }
            }
            > button {
                margin-top: 8px;
            }
        }
        button {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            text-transform: uppercase;
            width: 100%;
            height: 51px;
            @include transition(all 0.2s);
            border:0;
            &:focus {
                outline: none;
            }
        }
        .become-teacher-fields {
            #bat_message {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.625;
                color: #202121;
                width: 100%;
                background: transparent;
                border: none;
                display: block;
                margin: 0;
                padding: 14px 15px;

            }
        }
    }
    .more-info {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        color: #747474;
        text-align: center;
        margin-top: 20px;
    }
}