/**
 * Style for typography  from customizer*/

body {
  font-family: $thim_font_body_font_family;
  font-size: $thim_font_body_font_size;
  line-height: $thim_font_body_line_height;
  letter-spacing: $thim_font_body_letter_spacing;
  color: $thim_font_body_color;
  text-transform: $thim_font_body_text_transform;
  font-weight: $thim_font_body_font_weight;
  font-style: $thim_font_body_font_style;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $thim_font_title_font_family;
  color: $thim_font_title_color;
  font-weight: $thim_font_title_font_weight;
  font-style: $thim_font_title_font_style;
}

h1 {
  font-size: $thim_font_h1_font_size;
  line-height: $thim_font_h1_line_height;
  text-transform: $thim_font_h1_text_transform;
}

h2 {
  font-size: $thim_font_h2_font_size;
  line-height: $thim_font_h2_line_height;
  text-transform: $thim_font_h2_text_transform;
}

h3 {
  font-size: $thim_font_h3_font_size;
  line-height: $thim_font_h3_line_height;
  text-transform: $thim_font_h3_text_transform;
}

h4 {
  font-size: $thim_font_h4_font_size;
  line-height: $thim_font_h4_line_height;
  text-transform: $thim_font_h4_text_transform;
}

h5 {
  font-size: $thim_font_h5_font_size;
  line-height: $thim_font_h5_line_height;
  text-transform: $thim_font_h5_text_transform;
}

h6 {
  font-size: $thim_font_h6_font_size;
  line-height: $thim_font_h6_line_height;
  text-transform: $thim_font_h6_text_transform;
}

.reply-title {
  color: $thim_font_title_color;
}

.vc_custom_heading {
  font-family: $thim_font_title_font_family;
  font-weight: $thim_font_title_font_weight;
  font-style: $thim_font_title_font_style;
}

a {
  color: $thim_body_primary_color;
  &:hover {
    color: $thim_font_title_color;
  }
}

.thim-title-font {
  font-family: $thim_font_title_font_family;
}