.error404 {
  .error-404 {
    text-align: center;
    .title {
      font-size: 170px;
      font-weight: 700;
      letter-spacing: 20px;
    }
    .intro {
      font-size: 42px;
    }
    .message {

  }
  }
}